  body {
                    /*  background-image: url(fond-retro.png);*/
                    background-color: rgb(14, 1, 1);
                    /*https://github.com/berru-g/berru-g.io/blob/master/life-game/fond-retro.png?raw=true
*/
                    background-repeat: no-repeat;
                    font-family: 'Courier New', Courier, monospace;
                    background-color: #43434d;
                    --text-color: #fff;
                    position: relative;
                }
                
                #life {
                    z-index: 3;
                    background-color: #fcfdfd9d;
                    max-width: 200px;
                    height: auto;
                    border: 2px solid #000000;
                    border-radius: 25px;
                    text-align: center;
                    justify-content: space-around;
                    flex-direction: column;
                    position: fixed;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 24px;
                }
                
                #santé {
                    left: 13%;
                    color: #ffffff;
                }
                
                #santé::before {
                    content: '💚';
                    color: #ffffff;
                }
                
                #Karma {
                    left: 45%;
                    color: #ffffff;
                }
                
                #Karma::before {
                    content: '🌞 ';
                    color: #ffffff;
                }
                
                #ego {
                    left: 13%;
                    color: #ffffff;
                }
                
                #ego::before {
                    content: '👑';
                    color: #ffffff;
                }
                
                #expé {
                    left: 45%;
                    color: #ffffff;
                }
                
                #expé::before {
                    content: '🔧 ';
                    color: #ffffff;
                }
                
                #détente {
                    left: 45%;
                    color: #ffffff;
                }
                
                #détente::before {
                    content: '🍃';
                    color: #ffffff;
                }
                
                #time {
                    left: 92%;
                    width: 45%;
                    color: #ffffff;
                }
                
                #time::before {
                    content: '⏱';
                    color: #ffffff;
                }
                
                #love {
                    position: fixed;
                    text-align: right;
                    width: 23%;
                    bottom: 5%;
                    z-index: 2000;
                    color: #80eeae;
                    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
                    letter-spacing: 2px;
                    font-size: 23px;
                }
                
                #love::after {
                    content: '';
                    color: #ffffff;
                    font-size: 18px;
                    margin-left: 5px;
                } 
#cont {
                z-index: 5;
                color: #faf5f5;
                font-size: 10px;
                text-align: center;
                width: auto;
            }
            
            #cont:hover {
                transform: scale(1.5);
                border: 1px solid #868686;
                background-color: #000000b0;
                border-radius: 25px;
            }
            
            #cont>span>span {
                border-radius: 5px;
                margin-right: 10px;
            }
            
            .carre {
                width: 800px;
                margin-left: 400px;
            }
            
            #myDIV {
                display: flex;
                justify-content: space;
                flex-direction: column;
                z-index: 8;
                position: fixed;
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: #000000be;
                color: #ffffff;
                font-size: 25px;
                top: 0px;
                left: 0px;
                border: 0px solid #080000;
            }
            
            #start {
                position: ;
                z-index: ;
                width: 100px;
                height: 50px;
                border-radius: 15px;
                /* bottom:20%;
            left:45%;*/
                justify-content: center;
                background-color: #0ed179;
                color: #fff;
                font-size: 24px;
            }
            
            #start:hover {
                background-color: #fff;
                color: #0ed179;
                transform: scale(0.9);
            }
 .confirm-box {
                z-index: 6;
                border: 2px solid red;
                text-align: center;
                padding: 10px;
                width: fit-content;
                background-color: #80eeae;
                margin: auto;
            }

            #modal {
                z-index: 6;
                position: fixed;
                margin-top: 300px;
                margin-left: 200px;
                display: flex;
                width: 100%;
                height: 100%;

            }
 .innerHTML {
                    width: 100%;
                    height: 100%;
                    background-color: blueviolet;
                    color: white;
                }
                
                #flic-pas-bien {
                    width: 200px;
                    height: auto;
                    margin-top: 384px;
                    left: 60%;
                    z-index: 6;
                    position: fixed;
                }
                
                #flic-pas-bien:hover {
                    transform: scale(0.8);
                }
                
                alert #flic-pas-bien {
                    width: 100%;
                    height: 100%;
                    background-color: lightcoral;
                }
.sprite {
                    width: 200px;
                    height: 175px;
                    margin-top: 344px;
                    z-index: 5;
                    position: fixed;
                    object-position: fixed;
                }
                
                .right {
                    background-image: url(src-img/hero/walk-perso-fixeD.png);
                }
                /*https://github.com/berru-g/berru-g.io/blob/master/life-game/walk-perso-fixeD.png?raw=true*/
                
                .left {
                    background-image: url(src-img/hero/walk-perso-fixeG.png);
                }
                /* https://github.com/berru-g/berru-g.io/blob/master/life-game/walk-perso-fixeG.png?raw=true*/
                /*teste claque option-https://github.com/berru-g/berru-g.io/blob/master/life-game/walk-perso-fixeClaque.png?raw=true--*/
                
                .claque {
                    background-image: url(src-img/hero/walk-perso-fixeClaque.png);
                }
                /*teste zen option-https://github.com/berru-g/berru-g.io/blob/master/life-game/walk-perso-fixeZen.png?raw=true--*/
                
                .zen {
                    background-image: url(src-img/hero/walk-perso-fixeZen.png);
                }
                /*teste -https://github.com/berru-g/berru-g.io/blob/master/life-game/walk-perso-fixesupersaian.png?raw=true--*/
                
                .supersaian {
                    background-image: url(src-img/hero/walk-perso-fixesupersaian.png);
                }
                /*teste -https://github.com/berru-g/berru-g.io/blob/master/life-game/shot.png?raw=true--*/
                
                .shot {
                    background-image: url(src-img/hero/shot.png);
                }
                /*https://github.com/berru-g/berru-g.io/blob/master/life-game/walk-perso-fixeG.png?raw=true*/
                
                .walk-right {
                    background-image: url(src-img/hero/walk-persoD.png);
                    /*https://github.com/berru-g/berru-g.io/blob/master/life-game/walk-persoD.png?raw=true*/
                    -webkit-animation: walk .9s steps(6) infinite;
                    /*
            -moz-animation: walk .9s steps(6) infinite;
            -ms-animation: walk .9s steps(6) infinite;
            -o-animation: walk .9s steps(6) infinite;
            animation: walk .9s steps(6) infinite;
*/
                }
                
                .walk-left {
                    background-image: url(src-img/hero/walk-persoG.png);
                    /*https://github.com/berru-g/berru-g.io/blob/master/life-game/walk-persoG.png?raw=true*/
                    -webkit-animation: walk .9s steps(6) infinite;
                    /*
            -moz-animation: walk .9s steps(6) infinite;
            -ms-animation: walk .9s steps(6) infinite;
            -o-animation: walk .9s steps(6) infinite;
            animation: walk .9s steps(6) infinite;
         */
                }
                
                @-webkit-keyframes walk {
                    from {
                        background-position: 0px;
                    }
                    to {
                        background-position: -1200px;
                    }
                }
                /*
        @-moz-keyframes walk {
            from {
                background-position: 0px;
            }

            to {
                background-position: -1200px;
            }
        }

        @-ms-keyframes walk {
            from {
                background-position: 0px;
            }

            to {
                background-position: -1200px;
            }
        }

        @-o-keyframes walk {
            from {
                background-position: 0px;
            }

            to {
                background-position: -1200px;
            }
        }

        @-keyframes walk {
            from {
                background-position: 0px;
            }

            to {
                background-position: -1200px;
            }
        }
 */
                .lien {
                    text-decoration: none;
                    color: white;
                }
                
                .lien:hover {
                    color: rgb(228, 19, 19);
                }
                
                #controls {
                    bottom: 25px;
                    position: fixed;
                    justify-content: center;
                    z-index: 5;
                    color: #faf5f5;
                    font-size: 10px;
                    line-height: 13px;
                    margin: 10px;
                    text-align: center;
                }
                
                #controls>span {
                    margin-left: 20px;
                }
                
                #controls>span>span {
                    border: 2px solid #868686;
                    background-color: #868686;
                    border-radius: 5px;
                    padding: 7px;
                    margin-right: 10px;
                    display: inline-block;
                }
                /*#controls>span:last-child>span {
                transform: rotate(90deg);
            }*/
.share {
            position: absolute;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            width: 200px;
            height: 50px;
            bottom: 0px;
            right: -10%;
            opacity: 1;
        }
        
        .share:hover {
            transform: scale(0.9);
        }
        
        p {
            color: white;
        }
